<div class="flex-col items-center m-4 mb-2">
  <a href="https://reasonablepeople.io/" >
    <img src="/images/rp-blk.png" alt="Reasonable People" class="max-h-16"/></a>
  <span style="block">© 2020</span>
</div>
<nav>
  {% include menu %}
</nav>
