<div class="flex-col items-center">
  <a href="https://reasonablepeople.io/" >
    <img src="/images/rp-blk.png" alt="Reasonable People" class="max-h-16"/></a>
  <p>© 2020</p>
</div>
<nav>
  {% include menu %}
</nav>
