<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>roymosby.me: {{ title }}</title>
  <meta name="description" content="" />

  <!-- favicon details -->

  <link rel="stylesheet" href="/styles/styles.css" />
  {% include analytics %}
</head>
