<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>roymosby.me | {{title}}</title>
  <meta name="description" content="" />

  <!-- favicon details -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
<!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css" type="text/css"> -->

  <link rel="stylesheet" href="/styles/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Montserrat" rel="stylesheet"/>
  {% include analytics %}
</head>
