<br>
<hr>
<div class="job-search-card">
  <div class="card-image">
    <img src="/images/RoyMosby072021.jpg"
         alt="Portrait of Roy">
  </div>
  <div class="card-content">
    <p class="card-headline">I'm open to work!</p>
    <ul class="card-details">
      <li>
        Looking for a back-end or full-stack position that will leverage my strength in researching business processes and translating them into code.
      </li>
      <li>
        I've worked with JavasScript, Ruby, and PHP but am game to learn other scripting languages.
      </li>
      <li>
        Prior to development I have 20 year military service- I have the leadership experience and know-how to complete the mission. 
      </li>
      <li>Most importantly, I am all about making positive impact at organizations that see inclusivity as a strength rather than an obligation.</li>
    </ul>
    <p>If you have room on your team, I'm looking for a good place to put my skills to use!</p>
    <div class="portfolio-resume">
      <p><a href="https://docs.google.com/document/d/1tM4cT3xsEtXB3lQHkqGLipbEr8d4UJ1vQckMLVDeKP4/edit?usp=sharing">My resume</a></p>
    </div>
    <div class="contact job-contact-info">
      <div class="social">
        <a href="https://www.linkedin.com/in/roy-mosby/">
          <img src="/images/LinkedIn-white.png" alt="LinkedIn Link">
        </a>
      </div>
      <div class="social">
        <a href="https://github.com/royemosby">
          <img src="/images/GitHub-white.png" alt="GitHub Link">
        </a>
      </div>
      <div class="social">
        <a href="https://codepen.io/royemosby">
          <img src="/images/CodePen-white.png" alt="CodePen Link">
        </a>
      </div>
    </div>
  </div>
</div>