<hr>
<div class="job-search-card">
  <div class="card-image">
    <img src="/images/RoyMosby072021.jpg"
         alt="Portrait of Roy">
  </div>
  <div class="card-content">
    <p class="card-headline">I'm open to work!</p>
    <ul class="card-details">
      <li>
        Flatiron software engineer graduate specializing in Ruby, Ruby on Rails, JavaScript, React and everything between.
      </li>
      <li>
        20 year military veteran with the leadership experience and know-how to complete the mission.
      </li>
      <li>Passionate about making positive social impact at organizations that see inclusivity as a strength rather than an obligation.</li>
    </ul>
    <p>If you have room on your team, I'm looking for a good place to put my skills to use!</p>
    <!-- <div class="portfolio-resume">
      <p>portfolio</p>
      <p>|</p>
      <p>resume</p>
    </div> -->
    <div class="contact job-contact-info">
      <div class="social">
        <a href="https://www.linkedin.com/in/roy-mosby/">
          <img src="/images/LinkedIn-white.png" alt="">
        </a>
      </div>
      <div class="social">
        <a href="https://github.com/royemosby">
          <img src="/images/GitHub-white.png" alt="">
        </a>
      </div>
      <div class="social">
        <a href="https://codepen.io/egomadking">
          <img src="/images/CodePen-white.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>