<br>
<hr>
<div class="job-search-card">
  <div class="card-image">
    <img src="/images/RoyMosby072021.jpg"
         alt="Portrait of Roy">
  </div>
  <div class="card-content">
    <p class="card-headline">I'm open to work!</p>
    <ul class="card-details">
      <li>
        Hi all! I am seeking a remote engineer position that can leverage a unique history of IT experience with several years of developing
        web applications.
      </li>
      <li>
        I've worked most recently with JavasScript, TypeScript, Python, PHP, and Ruby but am game to learn other scripted languages.
      </li>
      <li>Most importantly, I am all about making positive impact at organizations that see inclusivity as a strength rather than an obligation.</li>
    </ul>
    <p>If you have room on your team and need someone that can contribute beyond just code, hit me up!</p>
    <div class="portfolio-resume">
      <p><a href="https://docs.google.com/document/d/1Ce1Pg4_LiKpmeF0y6aqUuLAfb6aH4G7hw8R9mNrC7oA/edit?usp=sharing">My resume</a></p>
    </div>
    <div class="contact job-contact-info">
      <div class="social">
        <a href="https://www.linkedin.com/in/roy-mosby/">
          <img src="/images/LinkedIn-white.png" alt="LinkedIn Link">
        </a>
      </div>
      <div class="social">
        <a href="https://github.com/royemosby">
          <img src="/images/GitHub-white.png" alt="GitHub Link">
        </a>
      </div>
      <div class="social">
        <a href="https://codepen.io/royemosby">
          <img src="/images/CodePen-white.png" alt="CodePen Link">
        </a>
      </div>
    </div>
  </div>
</div>
