<div>
    <ul>
        <li><a href="mailto:roy.e.mosby@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></i></li>
        <li><a href="https://github.com/egomadking"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/roy-mosby/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></i></li>
        <li><a href="tel:1-234-804-4350"><i class="fa fa-mobile" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/royemosby"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
</div>

<!-- this will be a modal included on each page -->
