<div class="large reveal" id="contactModal" data-reveal>
    <div class="grid-x">
        <div class="cell medium-2">
            <ul>
                <li><a href="mailto:roy.e.mosby@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></i></li>
                <li><a href="tel:1-234-804-4350"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>                
                <li><a href="https://twitter.com/royemosby"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/egomadking"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/roy-mosby/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></i></li>
            </ul>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="cell medium-10">
            <p>Eu eu labore adipisicing occaecat ullamco consectetur nostrud nulla. In culpa non consequat quis occaecat. Lorem adipisicing id voluptate pariatur voluptate ut adipisicing mollit ex magna anim nisi.</p>
        </div>
    </div>
</div>