<div class="columns show-for-medium-up medium-2 right"data-sticky-container>
  <div class="sticky" data-sticky sticky-margin-top="0">
      <ul class="vertical menu">
    <li><a href="/index.html"><em>Project navigation does not work yet...</em></a></li>
    <li><a href="/index.html">Top</a></li>
    <li><a href="/resume.html">Section</a></li>
    <ul class="nested vertical menu">
      <li><a href="#">Subsection</a></li>
      <li><a href="#">Subsection</a></li>
      <li><a href="#">Subsection</a></li>
      <li><a href="#">Subsection</a></li>
    </ul>
    <li><a href="/contact.html">Section</a></li>
  </ul>
  </div>

</div>
