<div class="cell show-for-medium medium-2" data-sticky-container>
  <div class="sticky" data-sticky data-margin-top="5" data-anchor="bodyContent">
      <ul class="vertical menu">
    <li><p>Project navigation does not work yet...</p></li>
    <li><a href="/index.html">Top</a></li>
    <li><a href="/resume.html">Section</a></li>
    <ul class="nested vertical menu">
      <li><a href="#">Subsection</a></li>
      <li><a href="#">Subsection</a></li>
      <li><a href="#">Subsection</a></li>
      <li><a href="#">Subsection</a></li>
    </ul>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
  </div>

</div>
