
<div class="small-12 medium-3 columns left">
  <div class="card" style="width: 275px;">
  <!-- <div class="card-divider">
    This is a header
  </div> -->
  <img src="/images/Roy.jpeg">
  <div class="card-section">
    <h4>3ID Content Manager and SharePoint admin</h4>
    <p>Interested in data structures and how they relate to shared content generation and usage. An optimizer obsessed with automating routine tasks to free up time for productive work.</p>
  </div>
</div>
  <ul class="vertical menu">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/resume.html">Resume</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
  <hr />
  <h3>Projects</h3>
  <ul class="vertical menu">
    <li><a href="/projects/AcmeWarehouse.html">Acme Warehouse</a></li>
    <li><a href="/projects/BooksRUs.html">Books'R Us</a></li>
    <li><a href="/projects/HubVSSwitches.html">Hubs vs Switches</a></li>
    <li><a href="/projects/PortalProposal.html">Portal Proposal</a></li>
    <li><a href="/projects/PortalDesign.html">Portal Design</a></li>
    <li><a href="/projects/PortalClosure.html">Portal Closure</a></li>
    <li><a href="/projects/RecipeDB.html">Decipe Database</a></li>

  </ul>
</div>
