<!DOCTYPE html>
<html lang="en-US">
  {% include head %}

  <body class="flex flex-col min-h-screen items-center bg-gradient-to-b from-purple-100 via-pink-50 to to-blue-300 text-gray-900">
    {% include ie9 %}
    <header class="flex items-end justify-between w-screen">{% include header %}</header>
    <main class="flex-grow">
      {{ content }}
    </main>
    <footer class="flex items-end justify-between w-screen">
      {% include footer %}
    </footer>
    <script src="/scripts/app.js" defer></script>
  </body>
</html>
