---
layout: base.liquid
---


<h1 class="text-5xl mb-16 text-center font-heading">{{ title | capitalize }}</h1>
<p class="italic text-xl mb-4 font-heading">Published: {{ page.date | date: '%a, %b %d, %Y' }}</p>

{{ content }}

