html {
  min-height: 100vh;
}

body {
  font-family: "Open Sans", "Verdana", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Tahoma, sans-serif;
}

main {
  flex-grow: 1;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul,
footer ul {
  list-style: none;
  font-size: 1.4rem;
  margin-top: .5rem;
  margin-bottom: 1rem
}

figcaption {
  font-style: italic;
}


.blog-title h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0;
  text-transform: uppercase;
}

.publish-date {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

.rp-logo img {
  height: 110px;
  opacity: .2;
}

.rp-logo p {
  margin: auto;
  text-align: center;
  opacity: .4;
}

.post-preview:not(:last-child) {
  border-bottom: 1px solid var(--border)
}

.about-paragraph {
  font-size: 1.5rem;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: .9em;
}

@media screen and (min-width: 400px) {
  .blog-title h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 650px) {
  .blog-title h1 {
    font-size: 4rem;
  }

  p img {
    max-width: 500px;
    transform: translate(25%);
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.social {
  height: 60px;
  padding: 1em;
  width: 60px;
  min-height: 60px;
  min-width: 60px;
}

.social img {
  opacity: 80%;
  width: 100%
}

.job-search-card {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 1em
}

.card-image {
  min-width: 200px;
  max-width: 300px;
}

.card-headline {
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.portfolio-resume {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.portfolio-resume p {
  margin: 0
}

@media screen and (min-width: 650px) {
  .job-search-card {
    flex-direction: row;
  }

  .card-image {
    max-width: 200px;
    padding-right: 1em;
  }
}