html {
  min-height: 100vh;
}

body {
  font-family: "Open Sans", "Verdana", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Tahoma, sans-serif;
}

main {
  flex-grow: 1;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul,
footer ul {
  list-style: none;
  font-size: 1.4rem;
  margin-top: .5rem;
  margin-bottom: 1rem
}

.blog-title h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0;
  text-transform: uppercase;
}



.rp-logo img {
  height: 110px;
  opacity: .2;
}

.rp-logo p {
  margin: auto;
  text-align: center;
  opacity: .4;
}

.post-preview:not(:last-child) {
  border-bottom: 1px solid var(--border)
}

@media screen and (min-width: 400px) {
  .blog-title h1 {
    font-size: 2rem;
  }

  @media screen and (min-width: 650px) {
    .blog-title h1 {
      font-size: 4rem;
    }