<!doctype html>
<html>

<head>
  {% include head.html %}
</head>

<body>

  {% include header.html %}

<div class="grid-x">
  {% include sidebarMain.html %}

  <div class= "small-12 medium-9 cell">
    <!-- Course timeline here -->
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-icon"><i class="fa fa-star-o" aria-hidden="true"></i></div>
        <div class="timeline-content">
          <p class="timeline-content-date">Jun 18th, 2017</p>
          <p>Course Start!</p>
        </div> 
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"><i class="fa fa-html5" aria-hidden="true"></i></div>
        <div class="timeline-content right">
          <p class="timeline-content-date">June 25th, 2017</p>
          <h4>Article Mockup</h4>
          <p>Used HTML and CSS to convert a PDF mockup into a functional website</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"><i class="fa fa-html5" aria-hidden="true"></i></div>
        <div class="timeline-content">
          <p class="timeline-content-date">June 27th, 2017</p>
          <h4>Animal Trading Cards</h4>
          <p>Used HTML and CSS to convert a PDF mockup into a functional website</p>
        </div> 
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"><i class="fa fa-html5" aria-hidden="true"></i></div>
        <div class="timeline-content right">
          <p class="timeline-content-date">July 7th, 2017</p>
          <h4>Build a Portfolio Site</h4>
          <p><a href="http://roymosby.me/FEND/Section2_Portfolio/portfolio.html">Link to finished project</a></p>
          <p>Developed a personal portfolio page using HTML, CSS, and the Bootstrap framework. The page is fully responsive and works on mobile, tablet, and desktop browsers.</p>
          <img src="/images/ResponsiveFull.jpeg" alt="Responsive portfolio site">
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">JS</div>
        <div class="timeline-content">
          <p class="timeline-content-date">September 2nd, 2017</p>
          <h4>Online Resume</h4>
          <p><a href="http://roymosby.me/frontend-nanodegree-resume/index.html">Link to finished project</a></p>
          <p><a href="https://github.com/egomadking/frontend-nanodegree-resume">Link to GitHub repo</a></p>
          <p>Using jQuery, developed an interactive resume application that reads all data from a JSON file and then dynamically modifies the DOM to display the information. Further customized the project by personalizing the design using CSS.</p>
          <img src="/images/TemplResume.jpeg" alt"Templated resume using jQuery">
        </div> 
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"><i class="fa fa-gamepad" aria-hidden="true"></i></div>
        <div class="timeline-content right">
          <p class="timeline-content-date">October 14th, 2017</p>
          <h4>Classic Arcade Game</h4>
          <p><a href="http://roymosby.me/frontend-nanodegree-arcade-game/">Link to finished project.</a></p>
          <p><a href="https://github.com/egomadking/frontend-nanodegree-arcade-game">Link to GitHub repo</a></p>
          <p>Use arrow keys to navigate!</p>
          <p>An HTML5 Canvas powered video game, developed using the best practices in Object Oriented JavaScript.</p>
          <img src="/images/gameClone.jpg" alt="Arcade game clone">
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"><i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <div class="timeline-content">
          <p class="timeline-content-date">December 2nd, 2017</p>
          <h4>Website Optimization</h4>
          <p>Optimized an inefficient web application's JavaScript, CSS and assets delivery, ensuring it runs at 60fps and achieves a Google PageSpeed score of at least 90.</p>
          <p><a href="http://roymosby.me/frontend-nanodegree-mobile-portfolio/">Link to finished project.</a></p><br>
          <p>The focus is on code optimization so it would be better to look into the project's source files. Focus in on commit dates between November and early Decemeber of 2017</p>
          <p><a href="https://github.com/egomadking/frontend-nanodegree-mobile-portfolio">Link to GitHub repo</a></p>
          <img src="/images/pageOptim.jpg" alt="Google Pagespeed score of 98%">
          <img src="/images/FPS.jpg" alt="60 frames per second page render">
        </div> 
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"><i class="fa fa-map" aria-hidden="true"></i>
        </div>
        <div class="timeline-content right">
          <p class="timeline-content-date">Jan 24th, 2018</p>
          <h4>Neighborhood Map</h4>
          <p><a href="http://roymosby.me/UDACITY-Neigborhood-Map/">Link to finished project</a></p>
          <p><a href="https://github.com/egomadking/UDACITY-Neigborhood-Map">Link to repo</a></p>
          <p>Single-page application featuring a neighborhood map with point-of-interest markers, filter feature, and a list view to browse points. This project also implements the Foursquare and Google panorama APIs to bring in additional information such as ratings, menus, etc.</p>
          <img src="/images/Neighborhood.jpg" alt="Neighborhood map project">
        </div>
      </div>

        <div class="timeline-item">
          <div class="timeline-icon">
            <!-- <i class="fa fa-check-square" aria-hidden="true"></i>
            -->
          </div>
          <div class="timeline-content">
            <p class="timeline-content-date">January 29th, 2018</p>
            <h4>Feed Reader Testing</h4>
            <p>Project uses Jasmine to explore test driven development (TDD) using JavaScript.</p>
            <br>
            <p><a href="http://roymosby.me/frontend-nanodegree-feedreader/">Link to finished project</a></p>
            <p><a href="https://github.com/egomadking/frontend-nanodegree-feedreader">Link to repo</a></p>
            <img src="/images/Jasmine.jpg" alt="Jasmine tests on Udacity feedreader">
          </div> 
        </div>
        <div class="timeline-item">
          <div class="timeline-icon">
            <!-- <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            -->
          </div>
          <div class="timeline-content right">
            <p class="timeline-content-date">Soon!</p>
            <h4>Course Certification</h4>
          </div>
        </div>

    </div>
    <!-- End course timeline -->
  </div>

</div>

  {% include footer.html %}

  {% include scripts.html %}

  
</body>

</html>